<div class="container-fluid p-3">
  <div class="d-flex justify-content-between">
    <h1>Dashboard</h1>
    <div>
      <a href="/" class="btn btn-light">Home</a>
      <a href="/admin/logout" class="btn btn-light">Logout</a>
    </div>
  </div>
  <div class="row py-5">
    <div class="col">
      <div class="table-responsive-md">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Name</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>
            {{#each messages}}
              <tr>
                <td>{{email}}</td>
                <td>{{name}}</td>
                <td>{{message}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
  <div class="card-body">
    <p>Visits: {{visits}}</p>
    <p>Messages: {{messages.length}}</p>
  </div>
</div>
</div>